
.Nav-nav{
    padding: 18px 0;
    position: fixed !important;
    top:0;
    left: 0;
    z-index: 99998;
    width: 100%;
    transition: 0.32s ease-in-out;
    height: 80px;
}
.scrolled-nav{
   background-color: rgb(11, 10, 10) !important;
    padding: 0px 0;
}
.nav-brand{
    width: 100px;
}
.div-links{
    margin-left: auto;
}
.nav-link{
    font-size: 20px !important;
    color: rgb(117, 115, 115) !important;
    margin-left: 20%;
    font-weight: 600;
}
.active{
    color: #fff !important;
}
.nav-link:hover{
    color: white !important;
}
.nav-icons{
    margin-right: 30px;
    margin-top: 20px;
}
.nav-icons:hover .icons-div a{
    color: #fff !important;
}
@media(max-width:1000px){
   .nav-icons{
    margin-right: auto;
   }
}
.icons-div a{
    width:42px ;
    height: 42px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.711);
    background-color: #212121 !important;
    margin-right: 8px;
    line-height: 1;
    position: relative;
}
.icons-div a::before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    transition: 0.3s;
    transform: scale(0);
}
.icons-div a:hover::before{
   transform: scale(1); 
    background-color: #fff !important;
}
a .fa-icon {
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
}
.icons-div a:hover .fa-icon{
   position: absolute;
   color: #212121 !important;
}

.nav-btn{
    width: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    font-weight: bold;
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white;
    position: relative;
    font-size: 18px;
}
/* @media(max-width:1000px){
    .nav-nav{
        width: 80%;
        margin: auto;
    }
} */
.nav-btn::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.nav-btn:hover::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: #fff !important;
        position: absolute;
        z-index: 1;
}
.nav-btn:hover span {
    position: absolute;
    z-index: 15;
    color: #212121;
}
